<button id="settings-button" aria-label="Accessibility settings">
    <img src="/favicon.ico" alt="">
</button>
<noscript>
    <style>#settings-button { display: none; }</style>
</noscript>
<dialog id="settings-dialog">
    <h1>Accessibility Settings</h1>
    <form>
        <label>
            <input type="checkbox" data-setting="bigtext"> Bigger text (200%)
        </label>
        <label>
            <input type="checkbox" data-setting="largelinespace"> Larger line spacing
        </label>
        <label>
            <input type="checkbox" data-setting="largewordspacing"> Larger word spacing
        </label>
        <label>
            <input type="checkbox" data-setting="80width"> Maximum 80 character width
        </label>
        <label>
            <input type="checkbox" data-setting="highcontrast"> High contrast
        </label>
    </form>
    <button class="close" aria-label="close-dialog"><i class="fa-solid fa-xmark fa-3x"></i></button>
</dialog>
<script>
    {
        const dialog = document.querySelector('#settings-dialog');
        const style = document.createElement('style');
        document.head.appendChild(style);

        const applySettings = () => {
            style.textContent = '';

            if (localStorage.getItem('settings.bigtext') === 'true') {
                style.textContent += `
                    :root {
                        font-size: 2rem;
                    }

                    input[type="checkbox"], input[type="radio"] {
                        min-height: 1rem;
                        min-width: 1rem;
                    }

                    input, button {
                        font-size: 1rem;
                        line-height: 1rem;
                    }

                    input::placeholder, textarea::placeholder {
                        font-size: 0.8rem;
                    }

                    .example {
                        flex-direction: column;
                    }
                `;
            }

            if (localStorage.getItem('settings.largelinespace') === 'true') {
                style.textContent += `
                    :not(input):not(button):not(textarea) {
                        line-height: 2rem;
                    }

                    p {
                        line-height: 3rem;
                    }
                `;
            }

            if (localStorage.getItem('settings.largewordspacing') === 'true') {
                style.textContent += `
                    * {
                        word-spacing: 0.6ch;
                    }
                `;
            }

            if (localStorage.getItem('settings.80width') === 'true') {
                style.textContent += `
                    body {
                        font-family: 'Noto Sans Mono', monospace;
                    }

                    p, li {
                        max-width: 80ch;
                    }
                `;
            }

            const highlightJsLink = document.querySelector('#highlight-js-link');
            if (localStorage.getItem('settings.highcontrast') === 'true') {
                document.body.setAttribute('data-high-contrast', '');
                highlightJsLink.href = '/node_modules/highlight.js/styles/a11y-dark.min.css';
            } else {
                document.body.removeAttribute('data-high-contrast');
                highlightJsLink.href = '/node_modules/highlight.js/styles/a11y-light.min.css';
            }
        };

        document.querySelector('#settings-button').addEventListener('click', () => {
            dialog.showModal();
        });
        dialog.querySelector('.close').addEventListener('click', () => {
            dialog.close();
        });

        dialog.querySelector('form').querySelectorAll('input').forEach(input => {
            const settingKey = `settings.${input.dataset.setting}`;
            const setting = localStorage.getItem(settingKey) === 'true' || false;
            if (input.type === 'checkbox') {
                input.checked = setting;
                input.addEventListener('click', () => {
                    localStorage.setItem(settingKey, input.checked ? 'true' : 'false');
                    applySettings();
                });
            }
        });

        applySettings();
    }
</script>
