<!doctype html>
<html lang="en">
    <head>
        {% include '/base/head.twig' with { 'title': 'Not Found' } %}
        <style>
            body {
                margin: 0;
                height: 100vh;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>404</h1>
    </body>
</html>
