<!doctype html>
<html lang="en">
    <head>
        {% include '/base/head.twig' %}
    </head>
    <body>
        {% include '/components/bypassblock.twig' %}
        {% include '/components/settings.twig' %}
        {% include '/components/nav.twig' %}
        <main id="main" class="container">
            <h1>Articles</h1>
            <ul>
                {% for article in [
                    { name: 'Basics Of Accessibility', link: 'basics' },
                    { name: 'Advanced Accessibility', link: 'advanced' },
                    { name: 'Semantic HTML', link: 'semantic-html' },
                    { name: '<abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.2', link: 'wcag' },
                    { name: 'Aria Labels And Descriptions', link: 'aria/label-description' },
                    { name: 'Accessible Social Media Links', link: 'social-media-links' },
                    { name: 'Accessible Forms', link: 'forms' },
                ] %}
                    <li>
                        <a href="/articles/{{ article.link }}">{{ article.name|raw }}</a>
                    </li>
                {% endfor %}
            </ul>
        </main>
    </body>
</html>
