<!doctype html>
<html lang="en">
    <head>
        {% include '/base/head.twig' %}
    </head>
    <body>
        {% include '/components/skiplink.twig' %}
        {% include '/components/settings.twig' %}
        {% include '/components/nav.twig' %}
        <main id="main" class="container">
            <h1>Accessibility</h1>
            <p>
                A collection of notes, articles, and opinions on the topic of accessibility ranging from basic to in-depth.
            </p>
            <p>
                This website aims to meet all A and AA in addition to most AAA guidelines of
                <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.2,
                since information on accessibility should be available to all.
                Make sure to check the accessibility settings button to the top right to customize your experience.
                <noscript><strong>Accessibility settings and screen reader samples require the use of JavaScript. Please enable it.</strong></noscript>
            </p>
            <p>To get an exhaustive list of content, visit the <a href="/articles/">articles</a> page.</p>
        </main>
    </body>
</html>
