<!doctype html>
<html lang="en">
    <head>
        {% include '/base/head.twig' %}
    </head>
    <body>
        {% include '/components/bypassblock.twig' %}
        {% include '/components/settings.twig' %}
        {% include '/components/nav.twig' %}
        <main id="main" class="container">
            <h1>Accessibility</h1>
            <p>This website is currently in development.</p>
            <p>While I wrap things up, feel free to read one of the <a href="/articles/">articles</a></p>
        </main>
    </body>
</html>
