@import '/font/montserrat/Montserrat.css';
@import '/css/theme/example.css';
@import '/css/theme/practice.css';
@import '/css/theme/read.css';
@import '/css/theme/infobox.css';
@import '/css/theme/bypass-block.css';
@import '/css/theme/nav.css';

* {
    box-sizing: border-box;
}

:focus {
    outline: 3px solid cyan;
}

body {
    font-family: Montserrat, sans-serif;
    color: #29292a;
    min-height: 100%;
    margin: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.visually-hidden {
    font-size: 0;
    user-select: none;
    color: transparent;
}

@media only screen and (max-width: 1400px) {
    .container {
        padding: 1em;
    }
}
