<!doctype html>
<html lang="en">
    <head>
        {% include '/base/head.twig' with { title: 'Accessible Forms' } %}
    </head>
    <body>
        {% include '/components/bypassblock.twig' %}
        {% include '/components/nav.twig' %}
        <main id="main" class="container">
            <h1>Accessible Forms</h1>
            <article>
                {% include '/components/wip.twig' %}
            </article>
        </main>
    </body>
</html>
