<!doctype html>
<html lang="en">
    <head>
        {% include '/base/head.twig' with { title: 'Bypass Blocks', description: 'Implementing skip links to bypass blocks of content.' } %}
    </head>
    <body>
        {% include '/components/skiplink.twig' %}
        {% include '/components/settings.twig' %}
        {% include '/components/nav.twig' %}
        <main id="main" class="container">
            <h1>Bypass Blocks</h1>
            <article>
                <section>
                    <h2>No Skip Link {% include '/components/practice.twig' with { practice: 'bad' } %}</h2>
                    <p>
                        Skip links, also known as bypass links, are used to bypass content that repeats on multiple websites
                        like navigation.
                        Without a skip link, keyboard users are required to pass through reoccurring focusable elements
                        on every page.
                    </p>
                    {% include '/components/example.twig' with { language: 'html', code:
'<nav aria-label="example 1">
    <a href="#">Main</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
</nav>
<main>
    <p>
        Look at this <a href="#">example</a>!
    </p>
</main>'
                    } %}
                </section>
                <section>
                    <h2>With Skip Link {% include '/components/practice.twig' with { practice: 'ok' } %}</h2>
                    <p>
                        Using a skip link, users reliant on keyboard navigation can simply skip to the main content
                        of the webpage without having to manually move through navigation and other repeated elements.
                    </p>
                    <p>
                        To achieve the jump, we need to give our <code>main</code>-Element or similar node an ID,
                        create an appropriate anchor element as the first focusable of the website, and
                        set the ID, prefixed with a pound symbol (<code aria-hidden="true">#</code>),
                        as the href of the skip link anchor.
                    </p>
                    <p aria-hidden="true">
                        Example:<br>
                        To link to your <code>main</code> with <code>id="content"</code> you should use <code>#content</code>.
                    </p>
                    {% include '/components/example.twig' with { language: 'html', code:
'<a href="#example-2">
    Skip to main content.
</a>
<nav aria-label="example 2">
    <a href="#">Main</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
</nav>
<main id="example-2">
    <p>
        Look at this <a href="#">example</a>!
    </p>
</main>'
                    } %}
                </section>
                <section>
                    <h2>Visually Hidden Skip Link {% include '/components/practice.twig' with { practice: 'best' } %}</h2>
                    <p>
                        To not visibly interfere with our layout, we can make the skip link <strong>visually</strong> hidden
                        by default and clearly visible when focused. Make sure to not use
                        <code>display: none</code>, <code>visibility: hidden</code> or the <code>hidden</code> attribute
                        as they make the element non-focusable and remove it from the accessibility tree.
                    </p>
                    <p>
                        Do try navigating with the tab key to see the block now or <button id="simulate-focus">simulate focus</button>.
                    </p>
                    <script>
                        document.querySelector('#simulate-focus').addEventListener('click', () => {
                            document.querySelector('#skip-link-3').focus();
                        });
                    </script>
                    {% include '/components/example.twig' with { language: 'html', code:
'<style>
    #skip-link-3:not(:focus) {
        /* make the block invisible */
        font-size: 0;
        color: transparent;
        /* don\'t include it in text selections */
        user-select: none;
        /* hide it off screen to not interfere with layout */
        position: fixed;
        top: -100%;
    }

    #skip-link-3:focus {
        /* revert to static display */
        position: static;
        /* apply more styling to make it more visible */
        font-weight: bold;
        font-size: 1.6rem;
        padding: 2rem;
        display: block;
        text-align: center;
    }
</style>
<a id="skip-link-3" href="#example-3">
    Skip to main content.
</a>
<nav aria-label="example 3">
    <a href="#">Main</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
</nav>
<main id="example-3">
    <p>
        Look at this <a href="#">example</a>!
    </p>
</main>'
                    } %}
                </section>
            </article>
        </main>
    </body>
</html>
