.example {
    display: flex;
    gap: 0.5rem;
}

.example > * {
    border-radius: 1rem;
}

.example > .preview {
    flex: 1;
    border: 1px solid rgba(158, 158, 158, 0.45);
    padding: 1rem;
}

.example > .source {
    flex: 1;
    overflow: auto;
    margin: 0;
    border: 1px solid #c5c5c5;
}

.example > .source code {
    background-color: #fcfcfc;
}
