.example {
    display: flex;
    gap: 0.5rem;
}

.example > * {
    border-radius: 1rem;
}

.example > .preview {
    flex: 1;
    border: 1px solid rgba(158, 158, 158, 0.45);
    padding: 1rem;
}

.example > .source {
    flex: 1;
    overflow-x: hidden;
    margin: 0;
    border: 1px solid #c5c5c5;
    white-space: break-spaces;
}

.example > .source code {
    background-color: #fcfcfc;
}

@media only screen and (max-width: 1200px) {
    .example {
        flex-direction: column;
    }
}

/* theming within examples */
.example .btn {
    padding: 0.6rem;
    background-color: dodgerblue;
    color: white;
    border-radius: 0.4rem;
    cursor: pointer;
    border: none;
    font-size: 1rem;
}

.example .btn:hover, .example .btn:focus {
    background-color: #5fb2ff;
    color: white;
}

.example .btn:active {
    background-color: #1a7bd4;
    color: white;
}

.example form > * {
    display: block;
}

.example form .required-asterisk {
    color: red;
}
