.infobox {
    padding: 1rem;
    background-color: #d1edff;
    color: #031c3a;
    border: 1px solid #031c3a;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    border-radius: 1rem;
}

.infobox .title {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.6rem;
    display: block;
}

body[data-high-contrast] .infobox {
    background-color: #00406c;
    color: white;
}
