.practice {
    padding: 0.2rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    vertical-align: middle;
    border-radius: 0.26rem;
}

.practice.bad {
    background-color: #8e0000;
    color: #fff6f6;
}

.practice.ok {
    background-color: #534f2a;
    color: #ffffff;
}

.practice.good {
    background-color: #484e2d;
    color: #ddffb0;
}

.practice.best {
    background-color: #006100;
    color: #c1ffc1;
}
